a:hover
{
	color: #C00;
}
#mainnav 
{
	border-bottom: 5px #e68080 solid;
}
h2, h2 a, h4, h4 a
{
	color: #C00;
}
h2, h4
{
	border-bottom: #C00 1px solid;
}
#menu li.on a, #menu a:hover, .inline_nav li.on a
{
	color: #C00;
}
h3 a, h3 a:hover, h5 a, h5 a:hover
{
	color: #C00;
}
#gallery #nums li.on a
{
	background: #e68080;
}